{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<form class="loginForm" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 style="font-family: Avanta Garde;font-style: italic;text-shadow: 1px 1px 2px cyan, 0 0 1em Teal, 0 0 0.2em Teal;" class="h3 mb-3 font-weight-normal">Authentification</h1>
    <div class="form-outline mb-4">
        <label for="inputEmail">Login :</label>
        <input type="text" value="{{ last_username }}" name="email_or_username" id="inputEmailOrUsername" class="form-control" autocomplete="" required autofocus>
    </div>
    <div class="form-outline mb-4">
    <label for="inputPassword">Mot de passe :</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >


    <div class="row">
        <div class="col-md-6 d-flex justify-content-center mb-3">
            <button style="height:40px" class="btn btn-outline-primary" type="submit">
                Connexion
            </button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12 mb-2 d-flex justify-content-center">
                    <div class="form-check form-switch">
                        <input type="checkbox" name="_remember_me" class="form-check-input" checked>
                        <label class="form-check-label">
                            Se souvenir de moi
                        </label>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
