{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    <div style="text-align: center">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
               Entrer votre mail, nous allons vous envoyer un mail pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-outline-danger">envoyer mail de réinitialisation</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
