{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inscription{% endblock %}

{% block body %}
    <h1 style="font-family: Avanta Garde;font-style: italic;text-shadow: 1px 1px 2px cyan, 0 0 1em Teal, 0 0 0.2em Teal;">Afficher une sortie</h1>

    <div class="container text-center">

        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ sortie.nom }}</h5>
                {% if sortie.Etat.libelle == 'Annulée' %}
                    <p class="card-text">Etat :</p><p style="color:red"> {{ sortie.Etat.libelle }}</p>
                {% else %}
                    <p class="card-text">Etat : {{ sortie.Etat.libelle }}</p>
                {% endif %}

                <p class="card-text">Organisateur : {{ sortie.organisateur.nom }}</p>
                <p class="card-text">Site : {{ sortie.siteOrganisateur.nom }}</p>
                <p class="card-text">nombre d'inscription maximum : {{ sortie.nbInscriptionsMax }}</p>
                <p class="card-text">nombre d'inscrit : {{ sortie.participants.count }}</p>
                <p class="card-text">Description : {{ sortie.descriptionInfos }}</p>
                <p class="card-text">Lieu : {{ sortie.lieu.nom }}</p>
                <p class="card-text">Durée : {{ sortie.duree }} heure(s)</p>
                <p class="card-text">Date : {{ sortie.dateDebut|date('Y-m-d H:i') }}</p>
                {% if sortie.Etat.libelle == "Annulée" %}
                    <p class="card-text">Motif d'annulation : {{ sortie.motifAnnulation }}</p>
                {% endif %}
            </div>
        </div>


        <div class="table-responsive">
            <h2 style="font-family: Avanta Garde;font-style: italic;text-shadow: 1px 1px 2px cyan, 0 0 1em Teal, 0 0 0.2em Teal;">Liste des participants inscrits</h2>

            <table class="table table-bordered table-striped" style="text-align: center;">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
                </thead>
                <tbody>
                {% for user in sortie.participants %}
                    <tr>
                        {% if sortie.organisateur.id == app.user.id  %}
                            <td><a href="{{ path('user_details', {id: user.id}) }}">{{ user.login }}</a></td>
                        {% else  %}
                            <td>{{ user.login }}</td>
                        {% endif %}

                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



    </div>
{% endblock %}
