{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Créer une sortie{% endblock %}
{% block body %}

    <h1 style="font-family: Avanta Garde;font-style: italic;text-shadow: 1px 1px 2px cyan, 0 0 1em Teal, 0 0 0.2em Teal;">Créer une sortie</h1>

    {{ form_errors(sortieForm) }}
    {{ form_start(sortieForm) }}

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(sortieForm.nom, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(sortieForm.descriptionInfos, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>

                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(sortieForm.ville, {
                            'attr': {
                                'data-ville-id': ""~sortieForm.ville.vars.value,
                                'class': "form-select change-lieux-per-ville",
                            }
                        }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <h5 class="card-title">{{ form_row(sortieForm.lieu, { 'attr' : { 'class': 'form-select' } }) }}</h5>
                        </div>
                        <div  class="col-5">
                            <h5 style="position: relative; left: -20%;top: 38%;" class="card-title">{{ form_row(sortieForm.addLieu, { 'attr' : { 'class': 'rounded-circle btn btn-outline-info btn-floating' } }) }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-outline mb-4">
                    <h5 class="card-text">{{ form_row(sortieForm.dateCloture, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(sortieForm.dateDebut, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-text">{{ form_row(sortieForm.duree, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-text">{{ form_row(sortieForm.nbInscriptionsMax, { 'attr' : { 'class': 'form-control'} }) }}</h5>
                </div>

                <div class="form-outline mb-4">
                    <h5 class="card-text">{{ form_row(sortieForm.estPrivee, { 'attr' : { 'class': 'form-check-input'} }) }}</h5>
                </div>

            </div>
        </div>


    </div>

    <div style="display: flex;justify-content: center;">

        {{ form_row(sortieForm.creer, {'attr' : {'class': 'btn btn-outline-primary'}}) }}
        {{ form_row(sortieForm.publier, {'attr' : {'class': 'btn btn-outline-warning', 'style': 'margin-left: 15px' }}) }}
        <a style="margin-left: 15px" role="button" href="{{ path('app_main') }}" class="btn btn-outline-secondary">
            Annuler</a>
    </div>



    {{ form_end(sortieForm) }}

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script>
        $(document).on('change', '#create_sortie_ville', function () {

            //var villeID = $(this).data("ville-id");
            // put the id of the selected "ville" in create_sortie_ville into variable villeID
            var villeID = $(this).val();


            $.ajax({
                url: '/sortie/getLieuofVille/' + villeID,
                type: "POST",
                //data: 'villeID=' + villeID,
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                    // Replace the options of create_sortie_lieu select with the name of the selected ville
                    const $category = $('#create_sortie_lieu');
                    $category.find('option').detach();
                    for (element of data)
                    {
                        $(`<option value="${element.id}">${element.nom}</option>`).appendTo($category);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        })
    </script>
{% endblock %}