{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ville{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Villes</h1>
    </div>
    <div class="text-center">
        <a href="{{ path('app_ville_new') }}" class="btn btn-outline-info center">Ajouter une Ville</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="villesTable" aria-describedby="villes">
            <thead>
            <tr>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a href="{{ path('app_ville_show', {'id': ville.id}) }}" class="btn btn-secondary">Afficher</a>
                        <a href="{{ path('app_ville_edit', {'id': ville.id}) }}" class="btn btn-secondary">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#villesTable').DataTable();
        });

    </script>
{% endblock %}