{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ville{% endblock %}


{% block body %}
    <div class="container text-center">
        <h1>Ville</h1>
    </div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>CodePostal</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>
</div>



    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{{ path('app_ville_index') }}" class="btn btn-primary">Retour à la liste</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('app_ville_edit', {'id': ville.id}) }}" class="btn btn-primary">Modifier</a>
            </div>
            <div class="col-md-4">
                {{ include('ville/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#villesTable').DataTable();
        });

    </script>
{% endblock %}