{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Confirmation du mot de passe{% endblock %}

{% block body %}
    {% if form_errors(form) %}
        <div class="alert alert-danger text-center">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {{ form_start(form) }}
    <div class="container text-center">
        {{ form_row(form.password) }}
        {{ form_row(form.confirmer) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
