{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier mon Profil{% endblock %}

{% block body %}




    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <h1 style="font-family: Avanta Garde;font-style: italic;text-shadow: 1px 1px 2px cyan, 0 0 1em Teal, 0 0 0.2em Teal;">Modifier mon Profil</h1>

    <div class="card mx-auto" style="width: 18rem;">
        {% if user.imageFilename %}
            <img class="card-img-top" src="{{ asset('uploads/images/' ~ user.imageFilename) }}" alt="Card image cap">
            <h5 class="card-title">Modifier mon image :</h5>
            <div class="form-outline mb-4">
                {{ form_row(registrationForm.image) }}
            </div>
            <div style="display:flex;">
                <h7 style="margin-right: 20px" class="card-text">{{ form_label(registrationForm.allowImageDiffusion) }}</h7>
                <h5 class="card-text">{{ form_widget(registrationForm.allowImageDiffusion, { 'attr' : { 'class': 'form-check-input'} }) }}</h5>
            </div>
        {% else %}
            <img class="card-img-top" src="{{ asset('uploads/images/defaultImage.jpg') }}" alt="Card image cap">
            <h5 class="card-title">Ajouter une image : </h5>
            <div class="form-outline mb-4">{{ form_row(registrationForm.image) }}</div>
            <div style="display:flex;">
                <h7 style="margin-right: 20px" class="card-text">{{ form_label(registrationForm.allowImageDiffusion) }}</h7>
                <h5 class="card-text">{{ form_widget(registrationForm.allowImageDiffusion, { 'attr' : { 'class': 'form-check-input'} }) }}</h5>
            </div>
        {% endif %}
    </div>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(registrationForm.nom, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(registrationForm.prenom, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(registrationForm.telephone, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
            </div>
            <div class="col-5">
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(registrationForm.email, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    <h5 class="card-title">{{ form_row(registrationForm.login, { 'attr' : { 'class': 'form-control' } }) }}</h5>
                </div>
                <div class="form-outline mb-4">
                    {{ form_row(registrationForm.site, { 'attr' : { 'class': 'form-select' } }) }}
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: center;">
            <button type="submit" class="btn btn-outline-info">Enregistrer</button>
            {{ form_row(registrationForm.modifierMdp, { 'attr' : { 'class': 'btn btn-outline-warning', 'style': 'margin-left: 15px' } }) }}
            <button type="submit" href="{{ path('app_main') }}" class="btn btn-outline-secondary">Annuler</button>
        </div>
    </div>



    {{ form_end(registrationForm) }}
{% endblock %}
