{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inscription{% endblock %}

{% block body %}
<div class="container text-center">

    <div class="card mx-auto" style="width: 18rem;">
        {% if user.imageFilename %}
            <img class="card-img-top" src="{{ asset('uploads/images/' ~ user.imageFilename)  }}" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="{{ asset('uploads/images/defaultImage.jpg')  }}" alt="Card image cap">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{ user.nom }} {{ user.prenom }}</h5>
            <p class="card-text">Email : {{ user.email }}</p>
            <p class="card-text">Téléphone : {{ user.telephone }}</p>
            <p class="card-text">Site : {{ user.site.nom }}</p>
        </div>
    </div>
</div>
{% endblock %}
